.movieWrapper {
  display: flex;
  margin-top: 15px;
  /* margin-left: 30px; */
}
.movieDescription {
  margin-left: 25px;
}
.genresList {
  display: flex;
  list-style: none;
  padding: 0;
}
.listItem:not(:first-child) {
  margin-left: 10px;
}
.movieImage {
  display: block;
  height: 600px;
  width: 800px;
}
