.moviesWrapper {
  margin: 0 auto;
}
.pageTitle {
  text-align: center;
}
.moviesList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.listItem {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
